.topToolbar {
  padding: 20px;
  display: inline-block;
  background-color: #FFF;

  .topToolbarItem, .topToolbarItemActive {
    width: 30px;
    height: 30px;
  }

  .qlStroke {
    stroke: #444;
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
  }

  .qlStrokeActive {
    stroke: #CCC;
    fill: transparent;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5px;
  }

  .qlStrokeMitter {
    stroke: #444;
    fill: transparent;
  }

  .qlStrokeMitterActive {
    stroke: #CCC;
    fill: transparent;
  }

  .qlFill {
    fill: #444;
  }

  .qlFillActive {
    fill: #CCC;
  }

  .qlEven {
    stroke: #444;
    fill: #FFF;
  }

  .qlEvenActive {
    stroke: #CCC;
    fill: #FFF;
  }

  .qlColorLabel {
    fill: red;
  }

  .qlTransparent {
    // opacity: 0.2;
  }

  .qlThin {
    stroke: #444;
    fill: transparent;
    stroke-width: 1;
  }

  .qlThinActive {
    stroke: #CCC;
    fill: transparent;
    stroke-width: 1;
  }
}
